.container {
  padding: 0 20px;
}

.nothingHere {
  margin-top: 40%;
  width: 100%;
  max-width: 460px;
}

.nothingHere h4 {
  font-size: 20px;
}

.nothingHere p {
  text-align: center;
}

.settingsModal {
  margin: 30% auto 0 auto;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  max-width: 480px;
  width: 100%;
  height: 60%;
  overflow: auto;
  z-index: 2;
  background-color: white;
}
.settingsModal:focus {
  border: 1px solid #e0e0e0;
}
.settingsOverlay {
  border: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.settingsModalContent {
  padding: 40px 25px;
}

.buyHeartButton {
  width: 100%;
  border: 0.5px solid rgb(235, 235, 235);
  height: 40px;
  padding-bottom: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.flip {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.profileImageDiv {
  margin-left: 20px;
  display: inline-block;
  float: left;
}

.profileImage {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}

.profileTextDiv {
  display: inline-block;
  width: 60%;
  text-align: center;
}

.profileTextDiv h3 {
  margin-bottom: 6px;
}

.line {
  width: 90%;
  text-align: center;
  border: 0.1px solid rgb(235, 235, 235);
  clear: both;
  margin: 45px auto 15px auto;
}

.postGridRow {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  width: 100%;
}

.postGridCell {
  width: 84px;
  display: inline-block;
}

.postGridCellMedia {
  width: 100%;
}

.postGridCellDescription {
  text-align: center;
  margin: 3px auto;
  width: 92px;
  font-size: 15px;
  color: #363636;
}

@media only screen and (min-width: 1000px) {
  .nothingHere {
    margin-top: 30%;
    width: 750px;
  }
  .settingsModal {
    margin-top: 9%;
  }

  .profileImage {
    width: 120px;
    height: 120px;
  }
  .profileTextDiv {
    padding-top: 2vh;
  }
  .profileTextDiv h3 {
    margin-bottom: 18px;
  }
}
