.container {
  padding: 0 20px;
}

.nothingHere {
  margin-top: 80%;
  width: 100%;
  max-width: 460px;
}

.nothingHere h4 {
  font-size: 20px;
}

.nothingHere p {
  text-align: center;
}

.settingsModal {
  margin-top: 50px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  max-width: 480px;
  width: 100%;
  height: 60%;
  position: fixed;
  top: 7%;
  left: 0;
  overflow: auto;
  z-index: 2;
  background-color: white;
}
.settingsModal:focus {
  border: 1px solid #e0e0e0;
}
.settingsOverlay {
  border: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.settingsModalContent {
  padding: 40px 25px;
}

.buyHeartButton {
  width: 100%;
  border: 0.5px solid rgb(235, 235, 235);
  height: 40px;
  padding-bottom: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.flip {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

@media only screen and (min-width: 1080px) {
  .nothingHere {
    margin-top: 60%;
    width: 750px;
  }
}
