footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 40px;
  background-color: white;
  border-top: 1px solid rgb(238, 238, 238);
  max-width: 460px;
  margin: 0 auto;
}

.tabBar {
  height: 100px;
  padding: 0 10px;
  margin-top: 6px;
}

.tab {
  display: inline-block;
  width: 19.5%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#uploadTabTabBar {
  height: 60px;
}

.submitUpload {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 12pt;
  text-align: center;
  padding-top: 12px;
}

.notReady {
  background-color: rgb(221, 221, 221);
}

.ready {
  background-color: yellow;
}

.tab img {
  width: 24px;
}