.container {
	padding: 0 20px;
	max-width: 480px;
	justify-content: center;
	align-self: center;
	align-items: center;
	align-content: center;
	padding-bottom: 80px;
}

.uploadButtonDiv {
	float: right;
	width: 48px;
	height: 48px;
	margin-top: 30px;
}

.lineInput {
	border: 0px;
	border-bottom: 1px solid gray;
	width: 100%;
	height: 20px;
	padding: 3px 0;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(180,180,180);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: rgb(180,180,180);
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: rgb(180,180,180);
}

h4 {
	font-size:16px;
	margin-bottom:8px;
}

h6 {
	font-size: 14px;
	margin: 0 0;
}

.elementDiv {
	clear: both;
	padding-top: 3px;
}

.genderSelectDiv {
	clear: both;
	padding-top: 8px;
	height: 26px;
}

.numSelectDiv {
	margin-top: 8px;
	border: 1px solid rgb(200,200,200);
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	padding: 2px 0;
}

.numSelectDiv button {
	background-color: transparent;
	border: 0px;
	margin-top: 4px;
}

.checkmark {
	display: none;
}

.themeRow {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}

.themeImgDiv {
	width: 80px;
	display: inline-block;
}

.themeImgDiv img {
	width: 80px;
	border-radius: 50%;
}