.startContainer {
  padding: 40px 25px;
  overflow: overlay;
}

.homeTabContainer {
  padding-top: 42px;
  padding-bottom: 60px;
}

.postContainer .postMedia {
  width: 100%;
}

.postContainer .postSummaryContainer {
  padding: 3px 10px;
}

.postSummaryContainer .posterProfileImage {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  float: left;
}

.postSummaryContainer .postSummary {
  padding-left: 50px;
  padding-right: 50px;
}

.postSummaryContainer .postSummary .postTitle {
  margin: 8px 0px;
}

.postSummaryContainer .postSummary .postDescription {
  margin: 4px 0px 24px 0px;
}

#scrim {
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0.5;
  z-index: 3;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.postOptionsButtonDiv {
  float: right;
}

.postOptionsButton {
  width: 20px;
  margin-top: 10px;
  margin-right: 5px;
  float: right;
}

.postOptions {
  padding: 5px 20px 8px 20px;
  background-color: white;
  border: 1px solid #c0c0c0;
  position: relative;
  border-radius: 2px;
  display: none;
  clear: both;
  z-index: 4;
}
.postOptions:hover {
  cursor: pointer;
}

.postOptions p {
  margin: 0;
  font-weight: bold;
  color: #565656;
}

.postDeletePrompt {
  width: 280px;
  height: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -140px;
  background-color: white;
  display: none;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  z-index: 5;
}

.postDeletePrompt .postDeletePromptDescription {
  text-align: center;
}

.postDeletePromptOptionsDiv {
  width: 200px;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 12px;
}

.postDeletePromptOption {
  display: inline-block;
  width: 80px;
  background-color: white;
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 8px 5px;
  border-radius: 4px;
  font-weight: bold;
  color: #363636;
}
.postDeletePromptOption:hover {
  cursor: pointer;
}

#postDeletePromptOptionYes {
  float: left;
}

#postDeletePromptOptionNo {
  float: right;
  color: rgb(255, 85, 117);
  border: 1px solid rgb(255, 85, 117);
}
