.startBackgroundStart {
  background-image: url("../../images/imgLogin.png");
  background-size: cover;
  width: 100vw;
  height: 99vh;
  background-repeat: no-repeat;
}

.startContainer {
  padding: 40px 25px;
  max-width: 86vw;
  width: 100%;
  margin-left: 0;
}

h3.introHeading {
  margin: 0;
  color: white;
}

.logoImg {
  margin-top: 22vh;
}

.descriptionText {
  font-size: 16px;
  color: white;
}

.startOptions {
  text-decoration: none;
  color: white;
  margin: 0;
}

.startOptionButtonDiv {
  max-width: 420px;
  width: 100%;
  min-width: 256px;
  height: 36px;
  border: 1px solid white;
  margin-top: 25vh;
  padding-bottom: 16px;
  border-radius: 5px;
}

.startOptionButton2Div {
  max-width: 420px;
  width: 100%;
  min-width: 256px;
  height: 36px;
  border: 1px solid white;
  margin-top: 3vh;
  padding-bottom: 16px;
  border-radius: 5px;
}
